.axis {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

line.legend {
    opacity: 0;
    transition: all 1s;
    z-index: 9999;
}

line.legend.selected {
    opacity: 1;
}

text.legend {
    opacity: 0;
    transition: all 1s;
    z-index: 9999;
}

text.legend.selected {
    opacity: 1;
}

#chart {
    padding: 50px;
}

.visible {
    display: block;
}

.nonvisible {
    display: none;
}