.link line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.link text {
  font-family: Verdana;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

.label {
  display: none;

}

.node:hover .label {
  display: block;
}

.node text {
  fill: #9b0101;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
}
